@{
    // model TransactionHistoryViewModel
    ViewData["Title"] = "View Transaction History";
}
<style>
    table{
        width: 100%;
    }
    td,th{
        padding-right: 10px;
    }
</style>
<div class="table-responsive table-striped table-bordered">
    <table>
        <tr>
            <th>TransactionId</th>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>TransactionType</th>
        </tr>
        @foreach (var tran in Model)
        {
            <tr>
                <td>@tran.TransactionId</td>
                <td>@tran.Date</td>
                <td>@tran.Description</td>
                <td>@String.Format(tran.Amount.ToString(), "0:0.00")</td>
                <td>@tran.TransactionType</td>
            </tr>
        }
    </table>
</div>
